body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e0f7fa;
    color: #004d40;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004d40;
    padding: 10px;
    position: relative;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: white;
}

nav {
    display: none;
    flex-direction: column;
    background-color: #004d40;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    border-radius: 0 0 5px 5px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    border-bottom: 1px solid #00796b;
}

nav a:last-child {
    border-bottom: none;
}

nav a:hover {
    background-color: #00796b;
}

main {
    padding: 20px;
}

canvas {
    border: 1px solid #004d40;
    margin-top: 20px;
}

#menu {
    display: none;
}

@media (min-width: 600px) {

    nav {
        display: block;
        position: static;
        width: auto;
        flex-direction: column;
        border-radius: 0;
        padding: 0;
        text-align: left;
    }

    nav a {
        border: none;
        padding: 15px;
        display: block;
    }

    nav a:hover {
        background-color: #00796b;
    }
}
